* {
	box-sizing: border-box;

}
body {
	background-image: url("../images/concrete_seamless.png");
	/*width: 960px;*/
	margin: auto;


}



header{
	background-color: white;
	height: 65px;
	/*font-size: 25px;*/


	
}

header nav li{
	float: right;
	text-align: center;
}

h1 {
	color: white;
	font-size: 25px;
	height: 65px;
	float: left;
	/*margin-left: 312px;*/
	padding: 20px;
	background-color: #4aaaa5;
	box-sizing: border-box;
	width: 250px;
	margin-left: 200px;
	clear: both;

	
	
}
.wrapper{
	clear: both;
	width: 960px;
	margin: auto;
}


#main{

	width: 650px;
	background-color: white;
	float: left;
}

img {
	float: left;
	height: 150px;
	width: 200px;
}

#sidebar {
	width: 270px;
	height: 200px;
	background-color: white;
	float: left;
	text-align: center;
	padding: 30px;
	margin: auto;
}

footer {
	clear: both;
	height: 100px;
	background-color: #666;
	border-top: 8px solid #4aaaa5;
}
.social {
	height: 60px;
	width: 60px;
	padding: 5px;
	box-sizing: content-box;

}




