* {
	box-sizing: border-box;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

p{
	
}
body {
	background-image: url("../images/concrete_seamless.png");
	/*width: 960px;*/
	margin: auto;


}



header{
	background-color: white;
	height: 92px; 
	border-bottom: 2px solid #cfcfcf;


	
}

header nav li{
	float: right;
	text-align: center;
}

header h1 {
	float: left;
	/*margin-left: 312px;*/
	/*padding: 32.5px 0;*/
	padding: 32.5px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 25px;
	box-sizing: border-box;
	font-weight: bold;
	
	
}
.wrapper, .hWrapper{
	clear: both;
	width: 960px;
	margin: auto;
}


#main{

	width: 650px;
	background-color: white;
	float: left;
	border: 1px solid #cccccc;
}

img {
	float: left;
	height: 150px;
	width: 200px;
}

#sidebar {
	width: 270px;
	height: 200px;
	background-color: white;
	float: right;
	text-align: center;
	padding: 30px;
	margin: auto;
	border: 1px solid #cfcfcf;
}

footer {
	clear: both;
	height: 100px;
	background-color: #666;
	border-top: 8px solid #4aaaa5;
	text-align: center;

	position: fixed;
    bottom: 0;
    width: 100%;


}

footer p {
	color: white;
}
.social {
	height: 60px;
	width: 60px;
	padding: 5px;
	box-sizing: content-box;

}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;

}

.wrapper {
	margin-top: 10px;
}





